@tailwind base;

::-webkit-scrollbar {
  width: 12px; 
}


::-webkit-scrollbar-track {
  background: transparent; 
}


::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 6px; 
  border:4px solid transparent;
  background-clip: padding-box; 
}
@tailwind components;
@tailwind utilities;

